<h1>Meetups</h1>

<ul id="meetup_list">
  <% @meetup_list.each do |meetup| %>
    <li>
      <a href="/meetups/<%= meetup.id %>"><%= meetup.name %></a>
    </li>
  <% end %>
</ul>

<a href="/meetups/new">Create a new meetup</a>
