<html lang="en">
  <head>
    <title>Articles</title>
  </head>

  <body>
    <h2>Articles</h2>
    <h3>User Submitted</h3>

    <ul>
      <% @articles.each do |article| %>
        <li><%= article %></li>
      <% end %>
    </ul>

    <form action="/articles" method="post">
     <label for="article">New Article:</label>
     <input type="text" id="article" name="article">

     <input type="submit">
   </form>

  </body>
</html>
