<html lang="en">
  <head>
    <title>Articles</title>
  </head>

  <body>
    <h2>Articles</h2>
    <h3>Submit new article:</h3>

    <form action="/articles/new" method="post">
     <label for="title">Article Title:</label>
     <input type="text" id="title" name="title" required>
     <br>


     <label for="url">Article URL:</label>
     <input type="url" id="url" name="url" required>
     <br>

     <label for="description">Article Description:</label>
     <input type="text" id="description" name="description" required>
     <br>

     <input type="submit">
    </form>

  </body>
</html>
