<div class="small-6 small-offset-3 columns">
  <div class="callout primary">
    <h3>Weather</h3>
    <p>
      Current weather: <%= @current_weather %> (<%= @temperature %>° F).
      <br>
      Future weather: <%= @future_weather %>
    </p>
  </div>
</div>
